<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Admin Dashboard - InsightEd Platform</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Footer -->
<aside class="sidebar" id="sidebar">
  <div class="text-center mb-4">
    <a href="/teacher/dashboard" class="nav-brand">
      <img th:src="@{/images/insighted_logo.png}" style="width: 120px; height: 55px">
    </a>
    <p style="color: var(--gray-600); font-size: 0.875rem; margin-top: 0.5rem;">Teacher Portal</p>
  </div>

  <ul class="sidebar-nav">
    <li><a th:href="@{/teacher/dashboard}" th:classappend="${activepage == 'Dashboard'} ? 'active'" >📊 Dashboard</a></li>
    <li><a th:href="@{/teacher/manage-assignment}" th:classappend="${activepage == 'Manage Assignment'} ? 'active'" >📋 Manage Assignments</a></li>
    <li><a th:href="@{/teacher/student-submition}" th:classappend="${activepage == 'Student Submission'} ? 'active'">📤 Student Submissions</a></li>
    <li><a th:href="@{/teacher/feedback}" th:classappend="${activepage == 'Feedback'} ? 'active'" >💬 Feedback</a></li>
    <li><a th:href="@{/teacher/Grades}" th:classappend="${activepage == 'Grades'} ? 'active'">📈 Grades</a></li>
    <li><a th:href="@{/teacher/notification}" th:classappend="${activepage == 'Notification'} ? 'active'" >🔔 Notifications</a></li>
    <li style="margin-top: 2rem;"><a th:href="@{/logout}">🚪 Logout</a></li>
  </ul>
</aside>

<script th:src="@{/scrpits/script.js}"></script>
</body>
</html>